---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>

<footer style="text-align: center; margin-top: 50px;">
  <div style="margin-top: 10px;">
    <a href="https://clustrmaps.com/site/1c6tr"  title="ClustrMaps"><img src="//www.clustrmaps.com/map_v2.png?d=0QXiULkgZtEJ-j54HwVaykKgFE65UEBmnwxeCMjo6B0&cl=ffffff" /></a>
    </a>
  </div>
</footer>
